@import url('reset.css');

/* --- 主體背景與容器 --- */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAF0E6;
    color: #333;
}

.container {
    margin: 0 auto;
    padding: 0 120px;
    min-height: 100vh;
}

/* -- 導航列 -- */
.navbar{
    display: flex;
    align-items: center;
    background-color: #8C593B;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0 120px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar img{
    width: auto;
    height: 70px;
    padding: 10px 0;
}

.nav-links{
    display: flex;
    gap: 100px;
    list-style: none;
    padding-left: 0;
    margin: 0;
}


.hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.icon {
    display: flex;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.2s ease;
}

.navbar a:hover {
    transform: translateY(-3px);
}



/* -- 路徑導航 -- */
.bar ul{
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.bar a{
    text-decoration: none;
    color: #000;
}

/* --- 品牌故事區塊 --- */
.upper-section, .lower-section {
    margin-top: 50px;
    text-align: center;
}

.upper-section h1, .lower-section h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.upper-section p, .item {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    margin: 10px auto;
    max-width: 800px;
}

.item {
    padding: 10px 0;
    /* border-bottom: 1px solid #ddd; */
}

/* --- 圖片庫 --- */
.gallery {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.gallery ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

/* ---FOOTER--- */
.footer {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3E3D3D;
    padding: 0 120px;
    color: white;
}

.footer img {
    width: auto;
    height: 80px;
    padding: 10px 0;
}

.footer-links {
    display: flex;
    gap: 50px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ccc;
}

.footer-icon{
    display: flex;
    gap: 10px;
}
.footer-icon a {
    font-size: 18px;
    color: white;
    transition: transform 0.3s;
}

.footer-icon a:hover {
    transform: scale(1.1);
}

